@tailwind base;
@tailwind components;
@tailwind utilities;

.header_active   {
    color: #00856F !important;
    border-bottom: 1px solid #00856F !important;
    font-weight: 700 !important;
}
.avtive_2{
    color: white !important;
    border-bottom: 1px solid white !important;
    font-weight: 700 !important;
}
